<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <ul class="header-menu">
                <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
                <li>|</li>
                <li><a href="fa fa-building"> About cage works</a></li>
                <li>|</li>
                <li><a [routerLink]="['/products']"><i class="fa fa-eye"></i> Products</a></li>
                <li>|</li>
                <li><a href=""><i class="fa fa-map-marker"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="opacity-background-container">
                <div class="repeat-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>